# Pandas loc and iloc Methods

1.Pandas library of python is very useful for the manipulation of mathematical data and is widely used in the field of machine learning. 

2..It comprises of many methods for its proper functioning. loc() and iloc() are one of those methods. 

3. These are used in slicing of data from the Pandas DataFrame. They help in the convenient selection of data from the DataFrame. 

4. They are used in filtering the data according to some conditions. Working of both of these methods is explained in the sample dataset of cars.

In [6]:
# importing the module
import pandas as pd

# creating a sample dataframe
data = pd.DataFrame({'Brand' : ['Maruti', 'Hyundai', 'Tata',
								'Mahindra', 'Maruti', 'Hyundai',
								'Renault', 'Tata', 'Maruti'],
					'Year' : [2012, 2014, 2011, 2015, 2012,
							2016, 2014, 2018, 2019],
					'Kms Driven' : [50000, 30000, 60000,
									25000, 10000, 46000,
									31000, 15000, 12000],
					'City' : ['Gurgaon', 'Delhi', 'Mumbai',
							'Delhi', 'Mumbai', 'Delhi',
							'Mumbai','Chennai', 'Ghaziabad'],
					'Mileage' : [28, 27, 25, 26, 28,
								29, 24, 21, 24]})

# displaying the DataFrame
display(data)

      Brand  Year  Kms Driven       City  Mileage
0    Maruti  2012       50000    Gurgaon       28
1   Hyundai  2014       30000      Delhi       27
2      Tata  2011       60000     Mumbai       25
3  Mahindra  2015       25000      Delhi       26
4    Maruti  2012       10000     Mumbai       28
5   Hyundai  2016       46000      Delhi       29
6   Renault  2014       31000     Mumbai       24
7      Tata  2018       15000    Chennai       21
8    Maruti  2019       12000  Ghaziabad       24

# loc() : 

loc() is label based data selecting method which means that we have to pass the name of the row or column which we want to select. 

This method includes the last element of the range passed in it, unlike iloc(). loc() can accept the boolean data unlike iloc() . 

Many operations can be performed using the loc() method like-

1. Selecting data according to some conditions :

In [2]:
# selecting cars with brand 'Maruti' and Mileage > 25
display(data.loc[(data.Brand == 'Maruti') & (data.Mileage > 25)])

    Brand  Year  Kms Driven     City  Mileage
0  Maruti  2012       50000  Gurgaon       28
4  Maruti  2012       10000   Mumbai       28

2. Selecting a range of rows from the DataFrame :

In [3]:
# selecting range of rows from 2 to 5
display(data.loc[2 : 5])

      Brand  Year  Kms Driven    City  Mileage
2      Tata  2011       60000  Mumbai       25
3  Mahindra  2015       25000   Delhi       26
4    Maruti  2012       10000  Mumbai       28
5   Hyundai  2016       46000   Delhi       29

3. Updating the value of any column :

In [5]:
# updating values of Mileage if Year < 2015
data.loc[(data.Year < 2015), ['Mileage']] = 22
display(data)

      Brand  Year  Kms Driven       City  Mileage
0    Maruti  2012       50000    Gurgaon       22
1   Hyundai  2014       30000      Delhi       22
2      Tata  2011       60000     Mumbai       22
3  Mahindra  2015       25000      Delhi       26
4    Maruti  2012       10000     Mumbai       22
5   Hyundai  2016       46000      Delhi       29
6   Renault  2014       31000     Mumbai       22
7      Tata  2018       15000    Chennai       21
8    Maruti  2019       12000  Ghaziabad       24

iloc() : iloc() is a indexed based selecting method which means that we have to pass integer index in the method to select specific row/column. This method does not include the last element of the range passed in it unlike loc(). iloc() does not accept the boolean data unlike loc(). Operations performed using iloc() are:

1. Selecting rows using integer indices:

In [12]:
# selecting 0th, 2th, 4th, and 7th index rows
display(data.iloc[[0, 2, 4, 7]])

    Brand  Year  Kms Driven     City  Mileage
0  Maruti  2012       50000  Gurgaon       22
2    Tata  2011       60000   Mumbai       22
4  Maruti  2012       10000   Mumbai       22
7    Tata  2018       15000  Chennai       21

2. Selecting a range of columns and rows simultaneously:

In [13]:
# selecting rows from 1 to 4 and columns from 2 to 4
display(data.iloc[1 : 5, 2 : 5])

   Kms Driven    City  Mileage
1       30000   Delhi       22
2       60000  Mumbai       22
3       25000   Delhi       26
4       10000  Mumbai       22

In [14]:
import pandas as pd

In [8]:
df=pd.read_csv('student_result1.csv')
df

FileNotFoundError: [Errno 2] No such file or directory: 'student_result1.csv'

In [9]:
df.Percentage

0    50
1    80
2    60
3    45
4    75
Name: Percentage, dtype: int64

In [10]:
df['Percentage']

0    50
1    80
2    60
3    45
4    75
Name: Percentage, dtype: int64

In [7]:
df.iloc[0]

NameError: name 'df' is not defined

In [4]:
df.loc[4]

Student ID                1005
Section                      C
Class                       12
Study hrs                    5
Social Media usage hrs       2
Percentage                  75
Name: 4, dtype: object

In [5]:
df.loc[[0,1]]

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
1        1002       B     10          6                       2          80

In [6]:
df.loc[[2,4]]

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
2        1003       A     10          3                       2          60
4        1005       C     12          5                       2          75

In [9]:
df.loc[4,'Class']

12

In [7]:
df.loc[0:3,'Class']

0    10
1    10
2    10
3    11
Name: Class, dtype: int64

In [8]:
df.loc[0:2,'Percentage']

0    50
1    80
2    60
Name: Percentage, dtype: int64

In [20]:
df.loc[df['Class']<11]

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
1        1002       B     10          6                       2          80
2        1003       A     10          3                       2          60

In [21]:
df.loc[df['Class']<11,['Percentage']]

   Percentage
0          50
1          80
2          60

In [11]:
df.loc[df['Class']<11,['Section','Percentage']]

  Section  Percentage
0       A          50
1       B          80
2       A          60

# iloc

In [22]:
df.iloc[0]

Student ID                1001
Section                      A
Class                       10
Study hrs                    2
Social Media usage hrs       3
Percentage                  50
Name: 0, dtype: object

In [23]:
df.iloc[[0]]

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50

In [24]:
df.iloc[:,0]

0    1001
1    1002
2    1003
3    1004
4    1005
Name: Student ID, dtype: int64

In [12]:
df.iloc[:,0:2]

   Student ID Section
0        1001       A
1        1002       B
2        1003       A
3        1004       C
4        1005       C

In [25]:
df.loc[:,0]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [0] of <class 'int'>

In [26]:
df.iloc[[0,1]]

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
1        1002       B     10          6                       2          80

In [13]:
df.iloc[[2,3]]

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
2        1003       A     10          3                       2          60
3        1004       C     11          0                       1          45